<div class="container">
  <div> Welcome to the below location and timezone:</div>
  <div> To update the configuration form please <a href="/timezone-config-form">click here</a>. </div>
  <div><b>Country:</b> {{country}} </div>
  <div><b>City:</b> {{city}} </div>
   <div><b>Timezone:</b> {{timezone}} </div>
  <div><b>Current date time:</b> {{current_datetime}} </div>
</div>